body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; 
    margin: 0;
	padding: 0;
    
}

.color-picker-container {
    z-index: 1; 
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 7px #000000b3;
    background-color: #ffffff;
    width: 375px;
    height: 500px;
    position: relative; 
}
.back-home {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    font-size: 20px; 
}
.back-home a {
    text-decoration: none; 
    color: #001aff; 
}

.back-home a:hover {
    text-decoration: underline; 
}
h1 {
    margin-bottom: 20px;
    text-align: center;
}

#colorPicker {
    margin-bottom: 250px;
    cursor: pointer;
    margin-left: 75px;
    animation: multicolorBoxShadow 2s infinite;
}

/* rgb shadow animation of colorPicker */
@keyframes multicolorBoxShadow {
    0% {
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6);
    }
    25% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.6); 
    }
    50% {
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.8), 0 0 20px rgba(0, 0, 255, 0.6); 
    }
    75% {
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.6); 
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 0, 255, 0.8), 0 0 20px rgba(255, 0, 255, 0.6); 
    }
}
/* cyan color hover */
#colorPicker:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6);
    border-color: #00ffff;
 
}

.arrow {
    position: absolute;
    top: 100px; 
    left: 60px; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 25px solid #000000; 
    transform: rotate(90deg); 
    animation: fadeInOut 1s infinite;
}
/* Arrow animation */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0; 
    }
    50% {
        opacity: 1; 
    }
}

p {
    font-size: 25px;
    color: #333;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 115px; 
    border: none;
    font-size: 15.5px;
    text-shadow: 
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 40px #ffffff,
    0 0 80px #ffffff;
    

/* rgb animation */
position: absolute;
margin: 10px 1 ;
width: 150px;
height: 40px;
/* background: linear-gradient(0deg, #000, #272727); */
}

button:before, button:after {
	content: '';
	position: absolute;
	left: -1px;
	top: -1px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	z-index: -1;
    border-radius: 8px;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

button:after {
	filter: blur(30px);
}

button:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6);
    border-color: #00ffff;
}




  /* button:hover:before {
    background-position: -106.25em 0;
    transition: 10s linear;
  } */
